<h3>{{title}}</h3>
<hr/>
<p class="alert alert-warning">
    Widgets are a group of helper directives that make working with forms and elements effortless. Widgets have a global
    provider which allows configuring site wide parameters. This makes it much easier to configure defaults.
</p>
<pre>
    To configure the widget provider:
    $widgetProvider.set({ // your object of options });

    Or set options for a specific widget.
    $widgetProvider.set('decimal', { // your decimal options });
</pre>
<h4>Number</h4>
<div class="form-group">
    <input class="form-control" type="text" ai-number ng-model="decimal" />
    <span style="display:block;">Any numeric value is forced to specified decimal places.</span>
</div>
<div class="tabpanel">

    <ul class="nav nav-tabs">
        <li ng-class="{ active: tabActive('decimal:markup') }"><a ng-click="showTab('decimal:markup')">Markup</a></li>
        <li ng-class="{ active: tabActive('decimal:code') }"><a ng-click="showTab('decimal:code')">Code</a></li>
        <li ng-class="{ active: tabActive('decimal:options') }"><a ng-click="showTab('decimal:options')">Options</a></li>
    </ul>

    <div class="tab-content">

        <div ng-class="{ active: tabActive('decimal:markup') }" ng-show="tabActive('decimal:markup')">
            <pre>
&lt;input class=&quot;form-control&quot; type=&quot;text&quot; ai-number ng-model=&quot;decimal&quot;/&gt;
            </pre>
        </div>

        <div ng-class="{ active: tabActive('decimal:code') }" ng-show="tabActive('decimal:code')">
            <p>
                This directive requires no additional code.
            </p>
        </div>

        <div ng-class="{ active: tabActive('decimal:options') }" ng-show="tabActive('decimal:options')">
            <pre>
 number: {
    defaultValue:                   // a default value to use when undefined.
    places: 2                       // default decimal places.
}
            </pre>
        </div>

    </div>

</div>


<h4>Case</h4>
<div class="form-group">
    <input class="form-control" type="text" ai-case="first" value="timothy"/>
    <span style="display:block;">Case supports: first, title, upper, lower, pascal, camel.</span>
</div>
<div class="tabpanel">

    <ul class="nav nav-tabs">
        <li ng-class="{ active: tabActive('casing:markup') }"><a ng-click="showTab('casing:markup')">Markup</a></li>
        <li ng-class="{ active: tabActive('casing:code') }"><a ng-click="showTab('casing:code')">Code</a></li>
        <li ng-class="{ active: tabActive('casing:options') }"><a ng-click="showTab('casing:options')">Options</a></li>
    </ul>

    <div class="tab-content">

        <div ng-class="{ active: tabActive('casing:markup') }" ng-show="tabActive('casing:markup')">
        <pre>
 &lt;input class=&quot;form-control&quot; type=&quot;text&quot; ai-case=&quot;first&quot; value=&quot;timothy&quot;/&gt;
        </pre>
        </div>

        <div ng-class="{ active: tabActive('casing:code') }" ng-show="tabActive('casing:code')">
            <p>
                This directive requires no additional code.
            </p>
        </div>

        <div ng-class="{ active: tabActive('casing:options') }" ng-show="tabActive('casing:options')">
        <pre>
case: {
    casing: 'first',        // the case to use ex: first, title, pascal, camel
    event: 'blur'           // the event to use to trigger casing apply.
}
        </pre>
        </div>

    </div>

</div>

<h4>Compare</h4>
<form name="compareForm" ai-validate-form="compareConf">
    <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" class="form-control" ng-model="password"/>
    </div>
    <div class="form-group">
        <label>Confirm</label>
        <input name="confirm" type="password" class="form-control" ai-compare="password" ng-model="confirm"/>
    </div>
</form>
<div class="tabpanel">

    <ul class="nav nav-tabs">
        <li ng-class="{ active: tabActive('compare:markup') }"><a ng-click="showTab('compare:markup')">Markup</a></li>
        <li ng-class="{ active: tabActive('compare:code') }"><a ng-click="showTab('compare:code')">Code</a></li>
        <li ng-class="{ active: tabActive('compare:options') }"><a ng-click="showTab('compare:options')">Options</a></li>
    </ul>

    <div class="tab-content">

        <div ng-class="{ active: tabActive('compare:markup') }" ng-show="tabActive('compare:markup')">
<pre>
&lt;form name=&quot;compareForm&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label&gt;Password&lt;/label&gt;
        &lt;input name=&quot;password&quot; type=&quot;password&quot; class=&quot;form-control&quot; ng-model=&quot;password&quot;/&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label&gt;Confirm&lt;/label&gt;
        &lt;input name=&quot;confirm&quot; type=&quot;password&quot; class=&quot;form-control&quot; ai-compare=&quot;password&quot; ng-model=&quot;confirm&quot;/&gt;
    &lt;/div&gt;
&lt;/form&gt;
</pre>
        </div>

        <div ng-class="{ active: tabActive('compare:code') }" ng-show="tabActive('compare:code')">
            <p>
                This directive requires no additional code.
            </p>
        </div>

        <div ng-class="{ active: tabActive('compare:options') }" ng-show="tabActive('compare:options')">
<pre>
compare: {
    compareTo: 'compare',           // the html name attribute of the element or form scope property to compare to.
    requireValue: true,             // should always be true, rare cases where you may need it to be false.
                                    // throws false when values are empty/undefined.
    dataType: 'string',             // options are string, date, time, datetime, integer
    precision: 'minutes'            // only valid when evaluating time when dataType is time or datetime.
                                    // valid options 'minutes', 'seconds', 'milliseconds'
}
</pre>
        </div>

    </div>

</div>

<h4>Placeholder</h4>
<div class="form-group">
    <input class="form-control" ai-placeholder="username"  />
    <span>This widget automatically falls back to labels when placeholders are not supported.</span>
</div>
<div class="tabpanel">

    <ul class="nav nav-tabs">
        <li ng-class="{ active: tabActive('placeholder:markup') }"><a ng-click="showTab('placeholder:markup')">Markup</a></li>
        <li ng-class="{ active: tabActive('placeholder:code') }"><a ng-click="showTab('placeholder:code')">Code</a></li>
        <li ng-class="{ active: tabActive('placeholder:options') }"><a ng-click="showTab('placeholder:options')">Options</a></li>
    </ul>

    <div class="tab-content">

        <div ng-class="{ active: tabActive('placeholder:markup') }" ng-show="tabActive('placeholder:markup')">
<pre>
&lt;input type=&quot;text&quot; ai-placeholder=&quot;First Name&quot;/&gt;  
</pre>
        </div>

        <div ng-class="{ active: tabActive('placeholder:code') }" ng-show="tabActive('placeholder:code')">
<pre>
No code required.
</pre>
        </div>

        <div ng-class="{ active: tabActive('placeholder:options') }" ng-show="tabActive('placeholder:options')">
<pre>
ai-placeholder does not require any options.
</pre>
        </div>

    </div>

</div>


