@import '../variables';
@import '../animations';

// flash wrapper/container.
.flash-wrapper {
  z-index: $flash-element-zindex;
  width: 100%;
  position: absolute;
  &.show {
    height: 100%;
    overflow:hidden;
  }
}

// the flash element.
.flash {
  position: relative;
  top: $flash-element-top;
  width: $flash-element-width;
  margin: 0 auto;
  overflow-x: $flash-overflowx;
  overflow-y: $flash-overflowy;
}

// the close element for the message.
.flash-close {
  position: absolute;
  right: $flash-close-top;
  top: $flash-close-right;
}

// title of message if present.
.flash-title {}

// the flash content message.
.flash-message {}