@import '../common/variables';
@import '../common/animations';


table { width: 100%; }

.ai-table-actions {
  margin-bottom: $table-actions-margin-bottom;
}

.ai-table-actions-filter {}

.ai-table-actions-options {
  label { margin: 0 6px; font-weight: normal; padding-top: 5px; }
  input.goto { max-width: 60px; margin-right: -3px; }
  button { margin-left: 8px; margin-top: -1px; }
  a { margin-top: -1px; }
}

.ai-table-wrapper {
  position: relative; /* required when using loader */
}

.ai-table-selectable {
  tr { cursor: default !important; } /* prevent text select cursor so we have just our pointer my preference personally */
}

.ai-table-header {

  cursor: default;

  &.ascending {
    background-image: $table-sort-img-asc;
    background-repeat: no-repeat;
    background-position: right center;
  }

  &.descending {
    background-image: $table-sort-img-desc;
    background-repeat: no-repeat;
    background-position: right center;
  }

  &.unsorted {
    background-image: $table-sort-img-none;
    background-repeat: no-repeat;
    background-position: right center;
  }

}

.ai-table-row-selected, .ai-table-row-selected td {
  background-color: $table-selected-background-color !important;
}

.ai-table-cell {
  vertical-align: middle !important;
}

.ai-table-cell-commands {}

.ai-table-pager {
  ul{ margin-top: 0px; }
  ul li {
    cursor: pointer;
    &.disabled { cursor: not-allowed; }
  }
}

.ai-table-pager-records span {
  font-size: 85%;
}

.ai-table-pager-pages {
  .pagination { margin: 0 !important; text-align: right; }
}

.ai-table-nodata { padding: $table-nodata-padding; }

.ai-table-loader {

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $table-loader-background-color;
  top: 0;
  left: 0;
  font-size: $table-loader-font-size;

  -webkit-animation-duration: $table-loader-animation-speed;
  animation-duration: $table-loader-animation-speed;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  &.ng-hide {
    opacity: 0;
  }

  &.loading {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  /* not the best solution but all time allowed for now */
  div {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    div {
      display: table-cell;
      vertical-align: middle;
      width: $table-loader-size;
      height: $table-loader-size;
      background-image: $table-loader-img;
      background-repeat: no-repeat;
      background-position: center center;
    }

  }

}





