<h3>{{title}}</h3>

<hr/>

<p class="alert alert-warning">
    Dropdown is an advanced select list directive. It handles dynamic loading of list content via static model
    resource or dynamic http endpoint.
</p>

<form name="ddForm" ai-validate-form>

    <div class="form-group">
        <label style="display: block;">Basic List (blurClose false)</label>
        <input type="text" class="form-control" ai-list ng-model="ddSimpleSel" ai-list-options="ddSimple" required />
    </div>

    <div class="form-group">
        <label style="display: block;">List by Group</label>
        <input type="text" class="form-control" ai-list ng-model="ddAdvSel" ai-list-options="ddAdv" />
    </div>

    <div class="form-group">
        <label style="display: block;">Remote Source (w/ validation)</label>
        <input type="text" class="form-control" ai-list ng-model="ddRemoteSel" ai-list-options="ddRemote" required/>
    </div>

    <div class="form-group">
        <label style="display: block;">Modify List</label>
        <input type="text" class="form-control" ai-list ng-model="ddModifySel" ai-list-options="ddModify" required/>
        <br/>
        <button type="button" class="btn btn-primary" ng-click="ddModifyAdd();">Add Item</button>
        <button type="button" class="btn btn-primary" ng-click="ddModifyRemove();">Remove Item</button>
    </div>

    <ai-validate-summary></ai-validate-summary>

</form>


<div class="tabpanel">

    <ul class="nav nav-tabs">
        <li ng-class="{ active: tabActive('list:markup') }"><a ng-click="showTab('list:markup')">Markup</a></li>
        <li ng-class="{ active: tabActive('list:code') }"><a ng-click="showTab('list:code')">Code</a></li>
        <li ng-class="{ active: tabActive('list:options') }"><a ng-click="showTab('list:options')">Options</a></li>
    </ul>

    <div class="tab-content">

        <div ng-class="{ active: tabActive('list:markup') }" ng-show="tabActive('list:markup')">
<pre>
&lt;form name=&quot;ddForm&quot; ai-validate-form&gt;

    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label&gt;Basic List&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; ai-list ng-model=&quot;ddSimpleSel&quot; ai-list-options=&quot;ddSimple&quot; /&gt;
    &lt;/div&gt;

    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label&gt;List by Group&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; ai-list ng-model=&quot;ddAdvSel&quot; ai-list-options=&quot;ddAdv&quot; /&gt;
    &lt;/div&gt;

    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label&gt;Remote Source&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; ai-list ng-model=&quot;ddRemoteSel&quot; ai-list-options=&quot;ddRemote&quot; required/&gt;
    &lt;/div&gt;

    &lt;ai-validate-summary&gt;&lt;/ai-validate-summary&gt;

&lt;/form&gt;
</pre>
        </div>

        <div ng-class="{ active: tabActive('list:code') }" ng-show="tabActive('list:code')">
<pre>
// basic list example.
$scope.ddSimple = {
    text: 'name',
    value: 'email',
    source: [
        {name: 'Jim Evers', email: 'jim@global.net', category: 'customer' },
        {name: 'Charles Xander', email: 'charles@gmail.com', category: 'customer'},
        {name: 'Scott Sandres', email: 'sanders.scott@aol.com', category: 'customer'}
    ]
};
$scope.ddSimpleSel = 'charles@gmail.com';

// advanced example using grouping.
$scope.ddAdv = {
    text: 'name',
    value: 'email',
    groupKey: 'category',
    source: [
        {name: 'Jim Evers', email: 'jim@global.net', category: 'customer' },
        {name: 'Charles Xander', email: 'charles@gmail.com', category: 'customer'}
    ]
};
$scope.ddAdvSel = 'ellis@gmail.com';

// example using remote url.
$scope.ddRemote = {
    text: 'name',
    value: 'email',
    source: '/list/example/data.json'
};
</pre>
        </div>

        <div ng-class="{ active: tabActive('list:options') }" ng-show="tabActive('list:options')">
<pre>
var defaults = {

    text: 'text',                           // property to use for text values.
    value: 'value',                         // property to use for model values default is text.
    display: false,                         // alt property to use for display values.
    capitalize: undefined,                  // if true display is capitalized. (group is cap also if used).
    searchable: false,                      // indicates that the list is searchable.
    placeholder: 'Please Select',           // placeholder text shown on null value.
    btnClass: 'btn-default',                // the class to add to the button which triggers list.
    allowNull: undefined,                   // when true user can select placeholder/null value.
    addClass: undefined,                    // class to add to ai-list primary element.

    template: 'list.tpl.html',              // the template to use for the list control.
    itemTemplate:
        'list-item.tpl.html',               // template used for list items.
    itemGroupTemplate:
        'list-item-group.tpl.html',
    searchTemplate:
        'list-search.tpl.html',             // template used for searching list.

    source: [],                             // data source can be csv, object, array of string/object or url.
    params: {},                             // object of data params to pass with server requests.
    queryParam: 'q',                        // the param key used to query on server requests.
    method: 'get',                          // the method to use for requests.

    groupKey: undefined,                    // the parent primary key to find children by.
    groupDisplay: undefined,                // used to display the group name.

    selectClose: undefined,                 // if not false list is closed after selection.
    selectClear: undefined,                 // after selecting value clear item.
    closeClear: undefined,                  // when searchable and on toggle close clear query filter.
    blurClose: undefined,                   // when true list is closed on blur event.
    closePrevious: undefined,               // when not false previously opened lists are closed.

    // all callbacks are returned
    // with $module context.
    onToggled: false,                       // on toggle list state. injects(toggle state, event).
    onSelected: false,                      // callback on select. injects(selected, ngModel, event).
    onFilter: false,                        // callback on filter. injects (filter, event).
    onReady: false                          // callback on directive loaded. returns

}
</pre>
        </div>

    </div>

</div>