// slide transform animations
// used primarily by viewer
@-webkit-keyframes slideInFromLeft {
  0% { -webkit-transform: translate3d(-100%,0,0); }
  100% { -webkit-transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes slideInFromRight {
  0% { -webkit-transform: translate3d(100%, 0, 0);  }
  100% { -webkit-transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes slideOutToLeft {
  0% { -webkit-transform: translate3d(0,0,0); }
  100% { -webkit-transform: translate3d(-100%, 0, 0); }
}
@-webkit-keyframes slideOutToRight {
  0% { -webkit-transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(100%, 0, 0); }
}

@keyframes slideInFromLeft {
  0% { -webkit-transform: translate3d(-100%,0,0); }
  100% { -webkit-transform: translate3d(0, 0, 0); }
}
@keyframes slideInFromRight {
  0% { -webkit-transform: translate3d(100%, 0, 0);  }
  100% { -webkit-transform: translate3d(0, 0, 0); }
}
@keyframes slideOutToLeft {
  0% { -webkit-transform: translate3d(0,0,0); }
  100% { -webkit-transform: translate3d(-100%, 0, 0); }
}
@keyframes slideOutToRight {
  0% { -webkit-transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(100%, 0, 0); }
}

// fade transitions.
// used in table loader.
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}