<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <base href="/"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/ai.css"/>
    <style type="text/css">
        header {
            background-color: #333;
            color: #fff;
            height: 45px;
        }
        header h2 {
            margin-top: 8px;
        }
        h4 {
            margin-top: 24px;
        }
        h5 {
            font-weight: 600;
        }
        .btn-outline {
            background-color: #fff;
            border-width: 2px;
            color: #333;
        }
        .btn-outline:hover {
           color: #fff;
        }
        .btn-close{
            text-align: center;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 8px;
            right: 8px;
        }
    </style>
</head>
<body>
    <ai-flash></ai-flash>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Ai<small> - Angular Interface</small></h2>
                </div>
                <div class="col-md-6 text-right">
                    <a ng-show="showBack()" href="/" style="margin-top: 6px; line-height: 45px;">Return Home</a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div ng-view></div>
    </div>
    <footer>
        <div class="container">
            <p ng-show="msg" class="alert alert-info"><span class="close" ng-click="close()">&times</span>{{msg}}</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-animate.min.js"></script>
    <script src="common/jquery.inputmask.js"></script>
    <script src="ai.js"></script>
    <script type="text/ng-template" id="/home.html">
        <br/><br/>
        <p>
            The Ai library is a collection of tools to assist in building Angular applications quickly while maintaining
            good project structure with simplified syntax. Along with the "register.js" module among others with
            effortlessly enhance your project with commonly used UI providers and directives.
        </p>
        <p>
            Click on any of the below modules to view documentation and examples.
        </p>
        <dl ng-repeat="(key, value) in items">
            <dt><a href="{{key}}">{{key | areaName}}</a></dt><dd>{{value}}</dd>
        </dl>
    </script>
    <script type="text/javascript">

        var app, tmpAreas, keys, areas;
        tmpAreas = {
            '/register': 'Angular application registration helper',
            '/passport': 'Simplifies handling authentication within Angular app.',
            '/storage': 'Use local storage with auto cookie fallback.',
            '/autoform': 'Handy during dev to quickly create a form.',
            '/dropdown': 'Advanced customizable dropdown directive.',
            '/flash': 'Allows for showing flash/popup messages.',
            '/modal': 'Native modal dialog.',
            '/table': 'Bind local or remote data to table/grid.',
            '/validate': 'Form validation with auto model binding.',
            '/viewer': 'Animated slide transitions for views.',
            '/widget': 'Various widgets - case, nicescroll, redactor, decimal, input mask & compare.'
        };

        // sort areas.
        keys = Object.keys(tmpAreas).sort();
        areas = {};
        angular.forEach(keys, function (k) {
            areas[k] = tmpAreas[k];
        });

        app = angular.module('app', ['ngRoute', 'ngAnimate', 'ai.table',
            'ai.validate', 'ai.widget', 'ai.modal', 'ai.flash']);

        app.config(['$routeProvider', '$locationProvider', function ($routeProvider, $locationProvider) {
            $routeProvider.when('/', { templateUrl: '/home.html', controller: 'Controller', title: 'Ai' });
            angular.forEach(areas, function (v, k) {
                var config, cap;
                cap = k.replace('/', '');
                cap = cap.charAt(0).toUpperCase() + cap.slice(1);
                config = { templateUrl: '/' + cap.toLowerCase() + '/example' + k + '.html',
                    controller: 'Controller', title: 'Ai ' + cap };
                $routeProvider.when(k, config);
            });
            $locationProvider.html5Mode(true);
        }]);

        app.run(['$rootScope', function ($rootScope) {
            $rootScope.msg = '';
            $rootScope.close = function () {
                $rootScope.msg = '';
            };
            $rootScope.showBack = function () {
                return $rootScope.title !== 'Ai';
            };
            $rootScope.$on('$routeChangeSuccess', function (event, current) {
                $rootScope.msg = '';
                $rootScope.title = current.$$route.title;
            });
        }]);

        app.filter('areaName', function () {
            return function (val){
                val = val.replace('/', '');
                return val.charAt(0).toUpperCase() + val.slice(1);
            }
        });

        app.controller('Controller', ['$rootScope', '$scope', '$route', '$flash', function ($rootScope, $scope,
                                                                                            $route, $flash) {
            var current = $route.current,
                route = current.$$route,
                params = current.params,
                path = route.originalPath,
                area = path && path !== '/' ? path.replace('/', '') : 'home',
                msg, close;

            close = $rootScope.close;

            // home
            if(area === 'home'){
                $scope.items = areas;
            }

            // table
            if(area === 'table'){
                $scope.tbl = {
                    source: [
                        { name: 'Jim Thomas', email: 'jthomas@gmail.com'},
                        { name: 'Bob Blair', email: 'bblair@aol.com'},
                        { name: 'Randy Quick', email: 'randy.quick@yahoo.com'},
                        { name: 'Bob Smith', email: 'bobsmith@msn.com'},
                        { name: 'Susan Jones', email: 'susan.jones@hotmail.com'},
                        { name: 'Larry Anderson', email: 'anderson.larry@mail.com'},
                        { name: 'Harry Ellis', email: 'ellis@gmail.com'},
                        { name: 'Rory Boscoe', email: 'rory@aol.com'},
                        { name: 'Simon Green', email: 'sgreen@yahoo.com'},
                        { name: 'Quentin Rose', email: 'qrose@msn.com'},
                        { name: 'Micah Barry', email: 'barry4u@hotmail.com'},
                        { name: 'Alex Angle', email: 'alex.angle@mail.com'}
                    ],
                    orderBy: [ '-name' ],
                    selectable: true,
                    exportable: true,
                    display: 10,
                    hover: true,
                    goto: false,
                    onSelected: function (row, selected, e) {
                        $rootScope.msg = JSON.stringify(selected);
                    },
                    onReset: function () {
                        $rootScope.msg = 'Table was reset.';
                    },
                    beforeFilter: function (source, q){
                        $rootScope.msg = 'Table filtered using query: ' + q;
                    }
                }
            }

            if(area === 'validate'){
                $scope.submitValidate = function (form, model) {
                    if(form.$invalid) return;
                    // alert feedback.
                    alert('Passed validation your data would submit here.');
                }
            }

            if(area === 'widget'){
                $scope.decimal = 25;
                $scope.case = 'timothy';
                $scope.mask = '7605551212';
            }

            if(area === 'flash'){
                $scope.flash = '';
                $scope.showFlash = function (msg) {
                    $flash.add(msg);
                }

            }

        }]);

    </script>
</body>
</html>