$list-min-width:              150px;

$list-caret-top:              45%;
$list-caret-right:            18px;
$list-caret-border-color:     #333;

$list-wrapper-zindex:         1060;

$list-items-bg-color:         #fff;
$list-items-border-color:     rgba(0,0,0,.15);
$list-items-border-radius:    4px;
$list-items-padding:          4px;

$list-link-padding:           1px 8px;
$list-link-active-color:      #eee;
$list-link-hover-color:       #eee;

$list-list-max-height:        250px;
$list-list-margin:            4px -4px;

@mixin ai-list-mixin($caret-border-color, $items-bg-color, $items-border-color,
                         $items-border-radius, $link-active-color, $link-hover-color) {

  min-width: $list-min-width;
  outline: none;

  &:focus {
    z-index: 1061;
    outline: none;
  }

  .caret {
    &.down {
      border-color:  $caret-border-color transparent transparent transparent;
    }
    &.up {
      border-color:  transparent transparent $caret-border-color transparent;
    }
  }



  .ai-list-wrapper {
    z-index: $list-wrapper-zindex;
    height: 100%;
  }

  .ai-list-items {

    z-index: inherit;
    border: 1px solid $items-border-color;
    padding: $list-items-padding;
    background-color: $items-bg-color;

    -webkit-border-bottom-right-radius: $items-border-radius;
    -webkit-border-bottom-left-radius: $items-border-radius;
    border-bottom-right-radius: $items-border-radius;
    border-bottom-left-radius: $items-border-radius;

    li {

      a {
        padding: $list-link-padding;
      }

      &.active {
        background-color: $link-active-color;
      }
      &:hover {
        background-color: $link-hover-color;
      }

    }

  }

  .ai-list-items > ul {
    margin: $list-list-margin;
    max-height: $list-list-max-height;
  }

  .ai-list-items > div {
    margin: $list-list-margin;
    max-height: $list-list-max-height;
  }

  .ai-list-toggle {
    outline: none;
    &:focus {
      outline: none;
    }
  }

}

// base styles
.ai-list {

  @include ai-list-mixin($list-caret-border-color, $list-items-bg-color,
          $list-items-border-color, $list-items-border-radius,
          $list-link-active-color, $list-link-hover-color);

  position: relative;
  vertical-align: middle;
  width: 100%;
  display: block;

  &.inline {
    width: auto;
    display: inline-block;
  }

  // toggles list.
  .ai-list-toggle {

    width: inherit;
    min-width: inherit;
    position: relative;
    text-align: left;


    &.expanded, .btn {
      //-webkit-border-bottom-left-radius: 0;
      //-webkit-border-bottom-right-radius: 0;
      //-moz-border-radius-bottomleft: 0;
      //-moz-border-radius-bottomright: 0;
      //border-bottom-left-radius: 0;
      //border-bottom-right-radius: 0;
    }

    .selected {
      display: inline-block;
    }

    .caret {

      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      line-height: inherit;
      vertical-align: middle;
      position: absolute;
      right: 18px;
      top: 45%;

      &.down {
        border-width: 5px 4px 0 4px;
      }

      &.up {
        border-width: 0 4px 5px 4px;
      }

    }

  }

  // search input.
  .ai-list-search {
    &:focus {
      border: 1px solid #ccc;
      box-shadow: none;
    }
  }

  // used to prevent needing static height
  .ai-list-wrapper {
    position: relative;
    min-width: inherit;
    width: inherit;
  }

  // contains all list items
  .ai-list-items {

    position: absolute;
    width: inherit;
    min-width: inherit;
    top: 4px;
    left: 0;

    &.shadow {
      -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
      box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    }

    ul {
      padding: 0;
      list-style: none;
      width: inherit;
      text-align: left;
    }

    li {

      display: list-item;
      text-align: -webkit-match-parent;

      a {
        display: block;
        white-space: nowrap;
        text-decoration: none;
        color: inherit;
        &:hover {
          color: inherit;
        }

      }

    }

  }

  // base element list.
  .ai-list-items > ul {
    overflow-x: hidden;
    overflow-y: auto;
  }

  // group element list.
  .ai-list-items > div {
    overflow-x: hidden;
    overflow-y: auto;

    ul {
      margin-bottom: 0;
    }

    h5 {
      margin: 3px 0 1px 4px;
    }

  }

}